@import "../../Variables/_colors.scss";
@import "../../Variables/_mixins.scss";

.login-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 189px);
  width: 100%;
  position: relative;

  .login-page-title {
    text-transform: capitalize;
    margin-bottom: 56px;
    color: $white;
    opacity: 0.5;
    @include fontStyles(normal, 400, 40px, 24px);
  }

  .login-page-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .login-register-navigator-container {
      color: $white;
      opacity: 0.5;
      display: flex;
      padding-left: 14px;
      @include fontStyles(normal, 400, 16px, 24px);
      align-self: flex-start;
      margin: -25px 0;
      .login-register-navigator-button {
        color: $white;
        opacity: 0.8;
        @include fontStyles(normal, 400, 16px, 24px);
        text-decoration: underline;
        cursor: pointer;
        &::before {
          content: " .";
          visibility: hidden;
        }
      }
    }

    .login-page-btn {
    }

    .error-notice {
      margin: 5px;
      position: absolute;
      top: -190px;
      z-index: 1;
      width: 25%;
      transform: scale(0.9);
      @media (max-width: 576px) {
        width: 90%;
        transform: scale(0.7);
      }
      @media (min-width: 577px) {
        width: 50%;
      }
      // @media (min-width: 577px) {
      //   width: 70%;
      // }
      .oaerror {
        box-shadow: -1px -1px 21px -8px rgba(255, 255, 255, 0.523);
        -webkit-box-shadow: -1px -1px 21px -8px rgba(255, 255, 255, 0.502);
        -moz-box-shadow: -1px -1px 21px -8px rgba(255, 255, 255, 0.454);
        background-color: $white;
        padding: 20px;
        border: 1px solid $white;
        border-left-width: 5px;
        border-radius: 3px;
        margin: 10px auto;
        font-size: 16px;
        animation: bounce 0.5s;
      }
      .danger {
        border-left-color: $red;
      }
    }
  }
}
