@import "../../Variables/colors";
@import "../../Variables/mixins.scss";
@import "../../Variables/fonts.scss";

.button {
    background-color: $white;
    color: $black;
    border: none;
    padding: 13px 128.5px;
    border-radius: 9px;
    cursor: pointer;
    @include fontStyles(normal, 400, 16px, 24px);
    
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }